table {
    margin: 25px auto;
    border-collapse: collapse;
}

body {
    border: 0.4cm solid rgb(1, 17, 2);
    background: rgb(121, 202, 152);
}

a {
    text-decoration-line: none;
    font: 21px sans-serif;
}

nav {
    margin: auto;
    display: flex;
    justify-content: center;
}

td {
    margin: 0px 0px 0px 0px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    font: 75px bold sans-serif;
    text-align: center;
}

p, h1 {
    margin: 30px auto;
    text-align: center;
}

span {
    margin: auto;
    display: flex;
    justify-content: center;
}

button {
    margin: auto 40px;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    font: 20px bold sans-serif;
    background-color: red;
}

button:hover {
    font: 30px bold sans-serif;
    box-shadow: 6px 7px black;
    background-color: green;
}

.turns {
    margin: 10px auto;
    border: 2px solid black;
    width: 200px;
}

th {
    border-collapse: separate;
    border: 5px solid green;
    width: 200px;
}

.Xbox, .Obox {
    font-size: 30px;
}